@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Beiruti:wght@200..900&display=swap');

@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

*,
h1,
h2,
h3,
h4,
h6 {
    transition: .4s;
    font-family: "Alexandria", sans-serif;
}

i {
    transition: .1s !important;
}

label,
a,
p {
    font-family: "Beiruti", sans-serif;
    font-weight: 600;
}

a.active {
    color: white;
    background-color: #0069D2;
}

.p-datepicker-today span {
    border: 2px solid red;
}

.p-datepicker-inline {
    background-color: #dde9f6;
}

.p-datepicker-inline .p-datepicker-current-day {
    background-color: "#004b6f";
}

span[data-p-highlight="true"] {
    background-color: #004b6f;
    color: white;
}

span[data-p-disabled="true"] {
    background-color: rgb(171, 171, 171);
}

/* gellaria */
.p-galleria-item-next,
.p-galleria-item-prev {
    background-color: #004c6f41;
}

.p-galleria-item-next:hover,
.p-galleria-item-prev:hover {
    background-color: #004c6f8c;
}

/* table */
.p-datatable-wrapper {
    border-radius: 8px;
}

.p-datatable {
    padding: 20px 25px;
}

.p-column-title {
    text-align: center;
    width: -webkit-fill-available;
}

.p-datatable-emptymessage td {
    text-align: center;
}

.rdt_TableCell {
    font-size: larger;
}

.rdt_TableCol {
    font-size: large;
    background-color: #004b6f;
    color: white;
}

.p-datepicker-header,
.p-datepicker-month,
.p-datepicker-year {
    background-color: #004b6f;
    color: white;
    border-radius: 5px;
}

.p-paginator-element.p-link.p-highlight {
    background-color: #004b6f;
    color: white;
}

.p-datepicker-prev,
.p-datepicker-next {
    rotate: 180deg;
    color: white;
}

.p-paginator-last,
.p-paginator-next,
.p-paginator-prev,
.p-paginator-first {
    rotate: 180deg;
}

.p-datepicker-prev:hover,
.p-datepicker-next:hover {
    color: #004b6f;
}

.gMeyEf {
    border-radius: 10px 10px 0 0 !important;
}

.p-image {
    border-radius: 10px;
    overflow: hidden;
}

.p-icon.p-accordion-toggle-icon {
    position: absolute;
    left: 25px;
}